body {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

h1 {
  padding-left: 5%;
  font-size: 100px;
  color: #785400;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* allow items to wrap to new line */
  background-color: #785400;
  border-radius: 25px;
}

li {
  margin: 10%;
  flex-basis: 25%; /* each item takes up half of available width on vertical screens */
}

/* Default size for icons */
.fab {
  font-size: 60px;
}

/* Adjust size for smaller screens */
@media (max-width: 768px) {
  .fab {
    font-size: 40px;
  }

  h1 {
    padding-left: 5%;
    font-size: 40px;
  }
}

/* Adjust size for even smaller screens */
@media (max-width: 576px) {
  .fab {
    font-size: 30px;
  }

  h1 {
    padding-left: 5%;
    font-size: 30px;
  }
}

.fa-youtube {
  color: #ff0000;
}

.fa-youtube:hover,
.fa-youtube:focus {
  color: #FF0000;
}

.fa-twitter {
  color: #1da0f2;
}

.fa-twitter:hover,
.fa-twitter:focus {
  color: #1da1f2;
}

.fa-instagram {
  color: #c13584;
}

.fa-instagram:hover,
.fa-instagram:focus {
  color: #c13584;
}

.fa-github {
  color: #1d1a1a;
}

.fa-github:hover,
.fa-github:focus {
  color: #1d1a1a;
}

.fa-discord {
  color: #8946ed;
}

.fa-discord:hover,
.fa-discord:focus {
  color: #8946ed;
}

.fa-square-snapchat {
  color: #fffb00;
}

.fa-square-snapchat:hover,
.fa-square-snapchat:focus {
  color: #fffc00;
}

.fa-reddit {
  color: #ff4400;
}

.fa-reddit:hover,
.fa-reddit:focus {
  color: #ff4500;
}

.fa-linkedin {
  color: #0073b1;
}

.fa-linkedin:hover,
.fa-linkedin:focus {
  color: #0073b1;
}
